h2{
    font-size: 35px;
    margin-top: -70px;
    padding-bottom: 40px;
}
.login{
    padding-top: 120px;
    margin-top: 10vh;
    margin-left: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    width: 600px;
    background-color: rgb(245, 207, 158);
    border-radius: 2%;
    border: 2px black;
    box-shadow: rgba(50, 50, 93, 0.3) 0px 2px 5px 2px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
.login-email,.login-password{
    width: 280px;
    height: 50px;
    margin: 7px;
    border-radius: 3px;
    font-size: 25px;
}
.labels {
    font-size: larger;
    font-weight: bolder;
    display: inline-block;
    width: 120px;
    font-size: 25px;
}
.user-footer{
    margin-top: 85px;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    background-color: rgb(235, 163, 70); 
    height: 60px;
    font-size: 30px;
    margin-bottom:10px;
    margin-top: 10px;
}
.new-email ,.new-password, .new-class{
    width: 280px;
    height: 50px;
    margin: 7px;
    border-radius: 3px;
    font-size: 25px;
}
.labels-new {
    font-size: larger;
    font-weight: bolder;
    display: inline-block;
    width: 120px;
    font-size: 25px;
    margin-left: 20px;
}
.labels-user{
    font-size: larger;
    font-weight: bolder;
    display: inline-block;
    width: 80px;
    font-size: 25px;
    margin-left: 20px; 
}
.button-new{
    margin-left: 100px;
}
.current-admin{
    margin-left: 20px;
}
.class-new{
    margin-left: 20px;
}